<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>님 귀하</h1>
    <hr />
    <h5><%= @message %></h5>
  </body>
</html>