<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="#">따 : 숲</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#">프로젝트 생성</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">결제</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">인증</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">결제</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="section-1 py-4 bg-light">
    
  </div>
  <div class="section-2 py-4 bg-success">
    
  </div>
  <div class="section-2 py-4 bg-primary">
    
  </div>
  <div class="section-2 py-4 bg-">
    
  </div>
</div>